h1{
	color:blue;
}
img{
	width: 400px;
}
#thirdDiv{	
	height: 600px;
	width: 500px;
	background-color: #F0F8FF;
	padding: 50px;	
	border: 1px solid blue;
}
#spanId{
	font-size: 18px;
	margin: 50px;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex-container > div {
  text-align: center;
}
p{
  width: 600px;	
}
body {
  background-image: url('fondocuadros.gif');
  background-repeat: repeat;
}